.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #2B2D42;
    color: #000;
}

.navbar__ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.navbar__link {
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
}

.navbar__link:hover {
    background-color: #ab6b8b;
    color: #000;
    border-radius: 50px;
}


